*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
gemfiles/*.lock
InstalledFiles
_yardoc
coverage
doc/
log/
lib/bundler/man
vendor/bundle
pkg
rdoc
spec/dummyapp/db/*.sqlite3-*
spec/reports
test/tmp
test/version_tmp
tmp
*.swp
.idea/
.ruby-version
.byebug_history

gemfiles/vendor

vendor
